{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block body %}
<br />
<br />
<div class="container">
    <h1>About</h1>
    <h3>This project documents all of the clubs and honor societies here at Frederick High School.</h3>
    <br />
    <h2>Motivation</h2>
    <br />
    <p>As a freshman, high school can assuredly feel overwhelming. From much more rigorous classes to a new schedule, new students have to adjust to a lot. Perhaps one of the more complex and impactful decisions is joining a club or honor society for the first time. For many students, this can be a chance to explore new passions, meet new people, and contribute to the many initiatives Frederick High students are pursuing.</p>
    <p>While we do hold a club fair at the beginning of the year, some students may not always enjoy a club after the first couple of weeks, while some might want to explore new options. This site allows students to not limit themselves to two days during their lunch period.</p>
    <br />
    <h2>Contact</h2>
    <br />
    <p>This website is built by Chris Pondoc and the Frederick High School Computer Science Honor Society. This project is built with help from Sydney Robinson, Beth Strakonsky, and the Frederick High Student Government Association.</p>
    <br />
    <h4>Frederick High School Computer Science Honor Society Contacts:</h4>
    <br />
    <ul>
        <li><b>President: </b>Chris Pondoc
            <br />
            <br />
            <a class="link" href="mailto:chris.pondoc@comcast.net"><button type="button" class="btn btn-primary">Contact →</button></a> 
        </li>
        <br />
        <li><b>Teacher Adviser: </b>Jennifer Bearce
            <br />
            <br />
            <a class="link" href="mailto:jennifer.bearce@fcps.org"><button type="button" class="btn btn-primary">Contact →</button></a> 
        </li>
    </ul>
    <br />
    <h4>Student Government Association Contacts:</h4>
    <br />
    <ul>
        <li><b>President: </b>Sydney Robinson
            <br />
            <br />
            <a class="link" href="mailto:sydney.robinson24@gmail.com"><button type="button" class="btn btn-primary">Contact →</button></a> 
        </li>
        <br />
        <li><b>Teacher Adviser: </b>Beth Strakonsky
            <br />
            <br />
            <a class="link" href="mailto:beth.strakonsky@fcps.org"><button type="button" class="btn btn-primary">Contact →</button></a> 
        </li>
    </ul>
</div>
{% endblock %}