{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="container">
      <div class="row">
        <div class="col">
          <br />
          <br />
          <br />
          <h1 class="huge">Connect and Communicate with Clubs</h1>
          <p class="lead center">Learn about how to be involved with your fellow Cadets.</p>
          <a class="link" href="clubs"><button type="button" class="btn btn-primary">Clubs →</button></a>
        </div>
        <div class="col" id="image">
          <img src="https://assets-ouch.icons8.com/preview/311/10508af6-ef50-4fb9-b82f-ef97b060d5c1.png" width="650px" alt="Chris">
        </div>
      </div>
    </div>
    <br />
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="https://assets-ouch.icons8.com/preview/990/578a0c6a-f18d-4140-a3a4-e39c3cc94afe.png" width="650px" alt="Chris">
      </div>
      <div class="col">
        <br />
        <br />
        <br />
        <h1>Discover your passions</h1>
        <p class="lead center">Frederick High School features a plethora of clubs that cover anything from Anime to Computer Science.</p>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col">
        <br />
        <br />
        <br />
        <h1 class="huge">Build the future of Frederick</h1>
        <p class="lead center">Each Frederick High club has unique mission statements and goals, all striving to increase the betterment of our fellow Cadets.</p>
      </div>
      <div class="col">
        <img src="https://assets-ouch.icons8.com/preview/790/5e33563f-5aa6-4c97-8b33-71e8f4cd7a61.png" width="650px" alt="Chris">
      </div>
    </div>
  </div>
  <br />
  <div class="container questions">
    <h1 class="questions">Have any questions?</h1>
    <p class="questions">Check out our About page to learn more about our mission and how to reach out to us.</p>
    <a class="link" href="about"><button type="button" class="btn btn-primary questions">About →</button></a>
  </div>
  <!-- https://assets-ouch.icons8.com/preview/990/578a0c6a-f18d-4140-a3a4-e39c3cc94afe.png -->
  <br />
{% endblock %}